<html>
    <head>
        <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css"
            rel="stylesheet" type="text/css">
        <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
            rel="stylesheet" type="text/css">

        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>

    </head>
    <body>
        <H1>PARA-ATM</H1>

    {{ script|safe }}
    {{ div|safe }}

    </body>
</html>
